
body
{
    background: rgb(255, 239, 233)
}

#banner {
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
    font-style: italic;
    

 style="text-align: center"Gastronomia Cozinha e Ensina
 }
p{ 
    text-align: center;
    style="font-size: 30px"><em>A gastronomia é</em> um ramo de conhecimento que abrange a culinária, as bebidas, os materiais usados na alimentação e, em geral, todos os aspectos culturais a ela associados.
 }
 #missao {
    font-size: 20px
}
#gastronomia {height: 60%;
width: 60%;
}
body
html
